---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<maps_key>&location=chandler
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 14 Jun 2022 20:21:59 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"chandler"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chandler","adminArea5Type":"City","adminArea4":"Maricopa
        County","adminArea4Type":"County","adminArea3":"AZ","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282040492","unknownInput":"","type":"s","latLng":{"lat":33.302285,"lng":-111.840103},"displayLatLng":{"lat":33.302285,"lng":-111.840103},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<maps_key>&type=map&size=225,160&locations=33.302285,-111.840103|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1824335464"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chandler","adminArea5Type":"City","adminArea4":"Lincoln
        County","adminArea4Type":"County","adminArea3":"OK","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CIT[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<open_weather_key>&lat=33.302285&lon=-111.840103&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":33.3023,"lon":-111.8401,"timezone":"America/Phoenix","timezone_offset":-25200,"current":{"dt":1655238119,"sunrise":1655209053,"sunset":1655260675,"temp":100.42,"feels_like":97.27,"pressure":1008,"humidity":18,"dew_point":49.26,"uvi":10.66,"clouds":0,"visibility":10000,"wind_speed":12.66,"wind_deg":220,"weather":[{"id":800,"main":"Clear","description":"clear
        sky","icon":"01d"}]},"minutely":[{"dt":1655238120,"precipitation":0},{"dt":1655238180,"precipitation":0},{"dt":1655238240,"precipitation":0},{"dt":1655238300,"precipitation":0},{"dt":1655238360,"precipitation":0},{"dt":1655238420,"precipitation":0},{"dt":1655238480,"precipitation":0},{"dt":1655238540,"precipitation":0},{"dt":1655238600,"precipitation":0},{"dt":1655238660,"precipitation":0},{"dt":1655238720,"precipitation":0},{"dt":1655238780,"precipitation":0},{"dt":1655238840,"precipitation":0},{"dt":1655238900,"precipitation":0},{"dt":1655238960,"precipitati[...]
- request:
    method: get
    uri: https://api.openbrewerydb.org/breweries?by_city=chandler&per_page=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"8b38f8dcf9a737675007d853c54c36d2"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":"bjs-restaurant-and-brewery-chandler-chandler","name":"BJs Restaurant
        \u0026 Brewery - Chandler","brewery_type":"brewpub","street":"3155 W Chandler
        Blvd","address_2":null,"address_3":null,"city":"Chandler","state":"Arizona","county_province":null,"postal_code":"85226-5175","country":"United
        States","longitude":"-111.911126","latitude":"33.3053455","phone":"4809170631","website_url":"http://www.bjsrestaurants.com","updated_at":"2021-10-23T02:24:55.243Z","created_at":"2021-10-23T02:24:55.243Z"},{"id":"hop-central-brewery-and-taproom-chandler","name":"HOP
        Central Brewery and Taproom","brewery_type":"micro","street":"5055 W Ray Rd
        Ste 2","address_2":null,"address_3":null,"city":"Chandler","state":"Arizona","county_province":null,"postal_code":"85226-6111","country":"United
        States","longitude":null,"latitude":null,"phone":"6026971494","website_url":"http://www.hopcentraltaproom.com","updated_at":"2021-10-23T02:24:55.243Z","created_at":"2[...]
[...]
