---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<maps_key>&location=philadelphia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 28 Jun 2022 23:03:32 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"philadelphia"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Philadelphia","adminArea5Type":"City","adminArea4":"Philadelphia
        County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039520","unknownInput":"","type":"s","latLng":{"lat":39.951061,"lng":-75.16562},"displayLatLng":{"lat":39.951061,"lng":-75.16562},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<maps_key>&type=map&size=225,160&locations=39.951061,-75.16562|marker-sm-50318A-1&scalebar=true&zoom=12&rand=-1943345280"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Amman","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"JO","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOf[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<open_weather_key>&key=<open_weather_key>&lat=39.951061&lon=-75.16562&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.9511,"lon":-75.1656,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1656457413,"sunrise":1656408856,"sunset":1656462802,"temp":77.54,"feels_like":77.25,"pressure":1020,"humidity":48,"dew_point":56.32,"uvi":0.42,"clouds":40,"visibility":10000,"wind_speed":8.05,"wind_deg":280,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1656457440,"precipitation":0},{"dt":1656457500,"precipitation":0},{"dt":1656457560,"precipitation":0},{"dt":1656457620,"precipitation":0},{"dt":1656457680,"precipitation":0},{"dt":1656457740,"precipitation":0},{"dt":1656457800,"precipitation":0},{"dt":1656457860,"precipitation":0},{"dt":1656457920,"precipitation":0},{"dt":1656457980,"precipitation":0},{"dt":1656458040,"precipitation":0},{"dt":1656458100,"precipitation":0},{"dt":1656458160,"precipitation":0},{"dt":1656458220,"precipitation":0},{"dt":1656458280,"precipitati[...]
