---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=<maps_key>&location=philadelphia
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Tue, 14 Jun 2022 23:07:19 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"philadelphia"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Philadelphia","adminArea5Type":"City","adminArea4":"Philadelphia
        County","adminArea4Type":"County","adminArea3":"PA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282039520","unknownInput":"","type":"s","latLng":{"lat":39.951061,"lng":-75.16562},"displayLatLng":{"lat":39.951061,"lng":-75.16562},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=<maps_key>&type=map&size=225,160&locations=39.951061,-75.16562|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1600764646"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Amman","adminArea5Type":"City","adminArea4":"","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"JO","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfS[...]
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/onecall?appid=<open_weather_key>&lat=39.951061&lon=-75.16562&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.9511,"lon":-75.1656,"timezone":"America/New_York","timezone_offset":-14400,"current":{"dt":1655248039,"sunrise":1655199088,"sunset":1655253033,"temp":81.82,"feels_like":82.58,"pressure":1011,"humidity":50,"dew_point":61.38,"uvi":0.46,"clouds":40,"visibility":10000,"wind_speed":10.36,"wind_deg":360,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"minutely":[{"dt":1655248080,"precipitation":0},{"dt":1655248140,"precipitation":0},{"dt":1655248200,"precipitation":0},{"dt":1655248260,"precipitation":0},{"dt":1655248320,"precipitation":0},{"dt":1655248380,"precipitation":0},{"dt":1655248440,"precipitation":0},{"dt":1655248500,"precipitation":0},{"dt":1655248560,"precipitation":0},{"dt":1655248620,"precipitation":0},{"dt":1655248680,"precipitation":0},{"dt":1655248740,"precipitation":0},{"dt":1655248800,"precipitation":0},{"dt":1655248860,"precipitation":0},{"dt":1655248920,"precipitati[...]
